/* {
    outline: dashed 1px red; /*this is for dev purposes only
}
*/
@font-face {
    font-family: weatherSundayFont;
    src: url(../css/fonts/weather_sunday.otf);
}

@font-face {
    font-family: delacorsoFont;
    src: url(../css/fonts/delacorso_font.otf);
}
body {
    width: 900px;
    background-color: #fff;
    font-family: Arial, Helvetica, san-serif;
    font-display: auto;
    color: #000;
    margin: 0 auto;
}

h1 {
    float: left;
    font-family: delacorsoFont;
    font-size: 40px;
    color: #000;
}

h2 {
    float: left;
    font-family: weatherSundayFont;
    font-size: 36px;
    color: #000;
    margin-top: 20px;
}

h5 {
    display: block;
    font-size: 10px;
    color: #999;
}

h6 {
    float: left;
    font-size: 10px;
    color: #999;
    margin-top: 55px;
    
}
#pid {
    float: left;
    margin-top: 70px;
    
}
  
header section {
    width: 900px;
    margin: 0 auto;
}
  
header img {
    float: left;
    margin-right: 5px;
    margin-top: 20px;
}
  
header li {
    float: right;
    margin-right: 2px;
}

.back-slash-img {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.div-header {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.printer {
    float: right;
}
.main-img {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.paper-img {
    background-image: url(../img/list-bg.png);
    background-size: cover;
    background-position: center;
    height: 305px;
    background-attachment: scroll;
    z-index: 0;
}

.checked {
    text-decoration: line-through;
}

.left-form-li {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    line-height: 2;
    z-index: 1;

}

.right-form-li {
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    line-height: 2;
    z-index: 1;
}

.table-bottom {
    width: 900px;
}

.td-img {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.td-btn {
    text-align: center;    
    justify-content: center;
    align-content: center;
    
}

footer {
    text-align: center;    
    justify-content: center;
    align-content: center;
}